<alert></alert>
<form class="edit-form">
    <label for="type">Vehicle type</label>
    <select [(ngModel)]="detailsDto.vehicle.type" name="type">
        <option value="Car">Car</option>
        <option value="Bike">Bike</option>
    </select>
    <br>

    <label for="name">Vehicle name/number</label>
    <input [(ngModel)]="detailsDto.vehicle.name" name="name" *ngIf="detailsDto.vehicle.type=='Car'"/>
    <input [(ngModel)]="detailsDto.vehicle.number" name="name" *ngIf="detailsDto.vehicle.type!='Car'"/>
    <br>

    <label for="producent">Vehicle producent</label>
    <input [(ngModel)]="detailsDto.vehicle.producent" name="producent" [disabled]="detailsDto.vehicle.type!='Car'"/>
    <br>

    <label for="color">Vehicle color</label>
    <input [(ngModel)]="detailsDto.vehicle.color" name="color" [disabled]="detailsDto.vehicle.type!='Car'"/>
    <br>

    <label for="releaseDate">Vehicle releaseDate</label>
    <input type="date" [(ngModel)]="detailsDto.vehicle.releaseDate" name="releaseDate" [disabled]="detailsDto.vehicle.type!='Car'"/>
    <br>

    <label for="borrower">Borrower</label>
    <select [(ngModel)]="detailsDto.userId" name="user" [disabled]="detailsDto.action!='details' && detailsDto.borrowDate != detailsDto.vehicle.borrowDate">
        <option *ngFor="let user of detailsDto.users" [value]="user.id">{{user.name}}</option>
    </select>
    <br>

    <label for="borrowDate">Borrow date</label>
    <input type="date" [(ngModel)]="detailsDto.borrowDate" name="borrowDate" [disabled]="true"/>
    <br>

    <span>
        <button (click)="borrow()" *ngIf="detailsDto.action=='details' && detailsDto.userId != null && detailsDto.borrowDate >= detailsDto.currentDate 
            && detailsDto.borrowDate != detailsDto.vehicle.borrowDate">Borrow</button>
        <button *ngIf="detailsDto.action=='add' || detailsDto.action=='edit'" (click)="doSave(detailsDto.vehicle.number)">Submit</button>
        <button (click)="goBack()">Back</button>
    </span>
</form>