<form class="edit-form">
    <label for="type">Vehicle type</label>
    <select [(ngModel)]="vehicle.type" name="type">
        <option value="Car">Car</option>
        <option value="Bike">Bike</option>
    </select>
    <br>

    <label for="name">Vehicle name/number</label>
    <input [(ngModel)]="vehicle.name" name="name" *ngIf="vehicle.type=='Car'"/>
    <input [(ngModel)]="vehicle.number" name="name" *ngIf="vehicle.type!='Car'"/>
    <br>

    <label for="producent">Vehicle producent</label>
    <input [(ngModel)]="vehicle.producent" name="producent" [disabled]="vehicle.type!='Car'"/>
    <br>

    <label for="color">Vehicle color</label>
    <input [(ngModel)]="vehicle.color" name="color" [disabled]="vehicle.type!='Car'"/>
    <br>

    <label for="releaseDate">Vehicle releaseDate</label>
    <input type="date" [(ngModel)]="vehicle.releaseDate" name="releaseDate" [disabled]="vehicle.type!='Car'"/>
    <br>

    <label for="borrower">Borrower</label>
    <select [(ngModel)]="userId" name="user" [disabled]="action!='details'">
        <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
    </select>
    <br>

    <label for="borrowDate">Borrow date</label>
    <input type="date" [(ngModel)]="borrowDate" name="borrowDate" [disabled]="true"/>
    <br>

    <span>
        <button (click)="borrow()">Borrow</button>
        <button *ngIf="action=='add' || action=='edit'" (click)="doSave(vehicle.number)">Submit</button>
        <button (click)="goBack()">Back</button>
    </span>
</form>