a.disabled {
    pointer-events: none;
    background-color: lightgray;
    color: gray;
    cursor: default;
 }
.dropdown-menu{
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    padding-right: 0;
 }
 .dropdown{
     margin-right: 50px;
 }
 .table-form{
     margin-left: 0.2%;
     margin-top: 0.2%;
 }
