<form class="table-form">
    Date: <input type="date" [(ngModel)]="date" name="date | date: 'dd/MM/yyyy'" (change)="getAll(date)" size=6 maxlength="6"/>
    <div>
        <table class="table table-hover">
            <thead>
              <tr>
                <th>Type</th>
                <th>Number/Name</th>
                <th>Producent</th>
                <th>Color</th>
                <th>Release date</th>
                <th>Borrower</th>
                <th>Borrow date</th>
                <th><span class="glyphicon glyphicon-plus" aria-hidden="true" (click)="addNew()"></span></th>
              </tr>
            </thead>
            <tbody *ngFor="let item of items">
              <tr>
                <td>{{item.type}}</td>
                <td>{{item.number == null ? item.name : item.number}}</td>
                <td>{{item.producent}}</td>
                <td>{{item.color}}</td>
                <td>{{item.releaseDate}}</td>
                <td>{{item.borrower}}</td>
                <td>{{item.borrowDate}}</td>
                <td>
                  <div class="dropdown">
                      <span class="glyphicon glyphicon-option-horizontal drop" aria-hidden="true" type="button" data-toggle="dropdown">
                      </span>
                      <ul class="dropdown-menu">
                        <li><a [class.disabled]="item.type !='Car' ? true : null" (click)="edit(item.id)">Edit</a></li>
                        <li><a [class.disabled]="item.wasBorrowed != null ? true : null">Delete</a></li>
                        <li><a (click)="details(item.id)">Details</a></li>
                      </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </form>